<form [formGroup]="stockForm" (ngSubmit)="submitStockForm()">
  <div id="product-name-field">
    <h2><span>Update stock for: </span>{{ getProductName() }}</h2>
  </div>
  <div class="fields-container">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Quantity</mat-label>
      <input matInput placeholder="Quantity" formControlName="quantity" />
      <mat-error *ngIf="stockForm.controls['quantity'].hasError('required')">
        Quantity is Required!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Price €</mat-label>

      <input
        matInput
        placeholder="Price"
        formControlName="price"
        [value]="stockForm.controls['price'].value | number: '1.2-2'"
      />

      <mat-error *ngIf="stockForm.controls['price'].hasError('required')">
        Price is Required!
      </mat-error>
      <!-- <mat-error *ngIf="stockForm.controls['price'].hasError('pattern')">
        Price can have only digits!
      </mat-error> -->
    </mat-form-field>
  </div>

  <div class="action-buttons">
    <button mat-raised-button type="submit">
      {{ getSubmitButtonTitle() }}
    </button>
    <button mat-raised-button type="button" (click)="closeStockDialog()">
      Cancel
    </button>
  </div>
</form>
