mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  background-color: #0e679d;
  color: white;

  nav {
    display: flex;
    align-items: center;

    a {
      margin-right: 10px;
      font-size: initial;
    }
    a:hover {
      cursor: pointer;
      // background-color: #8197b9;
      opacity: 0.5;
    }
    .routerLinkActive {
      background-color: lightgrey;
      color: black;
    }
  }
}
