// #header {
//   position: sticky; // sticky relative to the parent
//   top: 0; // makes element sticky in relation to some position
//   z-index: 999;

// .spacer {
//   flex: 1 1 auto;
// }
// }

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;

  nav {
    display: flex;
    align-items: center;

    a {
      margin-right: 10px;
      font-size: initial;
    }
    a:hover {
      cursor: pointer;
      background-color: #254880;
    }
    .routerLinkActive {
      background-color: #254880;
    }
  }
}
