mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  background-color: #0e679d;
  color: white;
  span {
    display: inline-flex;
    align-items: center;
    font-size: larger;
    mat-icon {
      font-size: xxx-large;
      height: 51px;
      width: 40px;
      padding-right: 10px;
    }
  }

  nav {
    display: flex;
    align-items: center;

    a {
      margin-right: 10px;
      font-size: initial;
    }
    a:hover {
      cursor: pointer;
      opacity: 0.5;
    }
    .routerLinkActive {
      background-color: white;
      color: black;
    }
    // #logout-button:hover {
    //   background-color: white;
    //   color: black;
    // }
  }
}
