<form>
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>PZN</mat-label>
    <input matInput placeholder="PZN" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Product Name</mat-label>
    <input matInput placeholder="Product Name" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Supplier</mat-label>
    <input matInput placeholder="Supplier" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Strength</mat-label>
    <input matInput placeholder="Strength" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Package Size</mat-label>
    <input matInput placeholder="Package Size" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Unit</mat-label>
    <mat-select>
      <mat-option value="one">St</mat-option>
      <mat-option value="two">ml</mat-option>
    </mat-select></mat-form-field
  >
  <div class="action-buttons">
    <button mat-raised-button type="submit">Add Product</button>
    <button mat-raised-button type="reset">Reset Values</button>
  </div>
</form>
