form {
  display: flex;
  flex-direction: column;
}

.form-field {
  display: flex;
  flex-direction: column;
  padding: 14px;
}

button {
  width: fit-content;
}

.action-buttons {
  display: flex;
}
