<div class="user-container">
  <mat-drawer-container class="form-container" autosize>
    <mat-drawer position="end" #drawer class="example-sidenav" mode="side">
      <div>
        <form>
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Old Password</mat-label>
            <input matInput placeholder="Old Password" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Confirm Password</mat-label>
            <input matInput placeholder="Confirm Password" />
          </mat-form-field>
        </form>
      </div>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Update Profile
      </button>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    </mat-drawer>

    <div class="example-sidenav-content">
      <img
        src="https://static.vecteezy.com/system/resources/previews/002/318/271/non_2x/user-profile-icon-free-vector.jpg"
        alt=""
      />
      <div class="user-details">
        <mat-icon>face</mat-icon>
        <h3>{{ getUsername() }}</h3>
        <mat-icon>email</mat-icon>
        <h3>{{ getEmail() }}</h3>
      </div>

      <button type="button" mat-button (click)="drawer.toggle()">
        Edit Profile
      </button>
    </div>
  </mat-drawer-container>
</div>
