<div class="container">
  <form>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Email</mat-label>
      <input matInput value="Email" readonly />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Username</mat-label>
      <input matInput value="Username" readonly />
    </mat-form-field>

    <div class="action-buttons">
      <button mat-raised-button type="submit">Edit Account</button>
    </div>
  </form>
  <form>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Old Password</mat-label>
      <input matInput placeholder="Old Password" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Confirm Password</mat-label>
      <input matInput placeholder="Confirm Password" />
    </mat-form-field>

    <div class="action-buttons">
      <button mat-raised-button type="submit">Delete Account</button>
    </div>
  </form>
</div>
