<div class="user-container">
  <mat-drawer-container class="form-container" autosize>
    <mat-drawer
      position="end"
      #drawer
      class="example-sidenav"
      mode="side"
      [opened]="isShowingMatDrawer"
    >
      <div>
        <form [formGroup]="userForm" (ngSubmit)="submitUserForm()">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" formControlName="username" />
            <mat-error
              *ngIf="userForm.controls['username'].hasError('required')"
            >
              Username is Required!
            </mat-error>

            <mat-error
              *ngIf="userForm.controls['username'].hasError('minlength')"
            >
              Username should be at least 5 characters long!
            </mat-error>
            <mat-error
              *ngIf="userForm.controls['username'].hasError('maxlength')"
            >
              Username should be at max 50 characters long!
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Old Password</mat-label>
            <input
              matInput
              placeholder="Old Password"
              formControlName="password"
            />
            <mat-error
              *ngIf="userForm.controls['password'].hasError('required')"
            >
              Old Password is required!
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>New Password</mat-label>
            <input
              matInput
              placeholder="New Password"
              formControlName="password"
            />
            <mat-error
              *ngIf="userForm.controls['password'].hasError('invalidPassword')"
            >
              Password must contain at least 8 characters, 1 capital letter, 1
              small letter, and 1 special character
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Confirm Password</mat-label>
            <input
              matInput
              placeholder="Confirm Password"
              formControlName="confirmPassword"
            />
            <mat-error
              *ngIf="userForm.controls['confirmPassword'].hasError('matching')"
              >Please confirm your password
            </mat-error>
            <mat-error
              *ngIf="userForm.controls['confirmPassword'].hasError('required')"
              >Confirm password is required!
            </mat-error>
          </mat-form-field>
        </form>
      </div>
      <div class="action-buttons">
        <button mat-raised-button (click)="submitUserForm()">Update</button>
        <button (click)="toggleShowMatDrawer()" mat-raised-button>
          Cancel
        </button>
      </div>
    </mat-drawer>

    <div class="example-sidenav-content">
      <img src="../../../assets/user-logo.jpg" alt="user logo" />
      <div class="user-details">
        <mat-icon>face</mat-icon>
        <h3>{{ getUsername() }}</h3>
        <mat-icon>email</mat-icon>
        <h3>{{ getEmail() }}</h3>
      </div>

      <button
        mat-button
        [hidden]="isShowingMatDrawer"
        id="edit-btn"
        type="button"
        (click)="toggleShowMatDrawer()"
      >
        Edit Profile
      </button>
    </div>
  </mat-drawer-container>
</div>
