.stock-container {
  display: flex;
  justify-content: center;

  mat-card {
    width: 25%;
    margin-top: 250px;
    background-color: #d4d4d452;
    border-radius: 15px;
    border: 1px solid grey;

    #product-name-field {
      border-bottom: double;

      h2 {
        margin: auto;
        font-size: 1.5em;
        padding-bottom: 10px;
      }
    }

    .details-field {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .product-details-container {
      margin-top: 20px;
    }
  }

  .action-buttons {
    display: flex;
    justify-content: flex-end;
  }

  .action-buttons > button {
    border: 2px solid grey;
    border-radius: 5px;
    margin-left: 20px;
  }

  .action-buttons > button:hover {
    cursor: pointer;
    border: 2px solid black;
  }
}
