<div fxLayoutAlign="center center" fxFlexFill class="login-container">
  <mat-card fxFlex="25">
    <mat-toolbar>
      <span>Sign In to Your Account</span>
    </mat-toolbar>

    <form
      fxLayoutAlign="stretch"
      fxLayout="column"
      class="login-form"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field>
        <input
          matInput
          type="email"
          placeholder="Email"
          formControlName="email"
        />
        <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
          Email is Required!
        </mat-error>
        <mat-error *ngIf="loginForm.controls['email'].hasError('email')">
          Email is Invalid!
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          type="password"
          placeholder="Password"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
          Password is Required!
        </mat-error>
      </mat-form-field>

      <button mat-raised-button type="submit">Sign In</button>
      <mat-toolbar-row>
        <span class="sign-up"
          >Don't have an Account?
          <a class="sign-up-link" color="primary" routerLink="/register">
            Sign up</a
          ></span
        >
      </mat-toolbar-row>
    </form>
  </mat-card>
</div>
