p {
  text-align: center;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  height: 35px;

  #cancel-btn {
    background-color: #5bb55c;
    color: white;
    margin-right: 15px;
  }
  #delete-btn {
    background-color: #d44b47;
    color: white;
  }
}
